:root{
    --theme-blue: #0ea5e9;
    --background-color: #e5e5e5;
    --card-highlight: #f59e0b;
    --main-text-color: #6b7280;
    /* --lh: 1.4rem;
    line-height: var(--lh); */
}
*{
    margin: 0;
    padding: 0;
}

button{
    all: unset;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px 1fr;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--theme-blue);
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 4fr;

}

.header,
.main-content{
    grid-column: 2/3;
    
    
}

.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-row: 1/2;
    height: 150px;
    box-shadow: 0px 5px 5px gray;
    position: relative;
    padding-top: 10px;
    box-sizing: border-box;
}

.search-profile{
    display: grid;
    grid-template-columns: 1fr 500px;


}

.search-bar{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    gap: 24px;
    padding-right: 30px;

}

.search{
    background: none;
    border: none;
    width: fit-content;
    align-self: center;
    
    
}

.search-logo{
    height: 32px;
    width: auto;
}
.search-button-container{
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.profile-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-self: center;
}

/* .notifications{
    height: 32px;
} */

.notifications>img{
    height: 32px;
}

.profile{
    display: grid;
    grid-auto-flow: column;
}

.logo>img{
    height: 32px;
}

.search-bar-input{
    width: min(60vb, 1000px);
}

.user{
    align-self: center;
}

.actions{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    align-self: center;
}

.greeting{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-self: center;
}

.user-logo>img{
    height: 48px;
}
.user-logo{
    text-align: right;
    padding-right: 32px;
}

.button-container{
    align-self: center;
}

.button-container>button{
    width: 80px;
    font-weight: bolder;
}

.main-content{
    background-color: var(--background-color);
}

.view-controls,
.useful-links,
.dashboard-logo{
    padding-left: 32px;
}

.dashboard-logo{
    padding-top: 32px;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;

}

.main-content{
    display: grid;
    grid-template-columns: 1fr 350px;
}

.projects{
    padding: 20px;
    
}

::-webkit-scrollbar{
    width: 0px;
}

.info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding-top: 20px;
    margin-right: 40px;
}

.project-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px 200px;
    grid-auto-flow: row;
    gap: 20px;
}

.project-card{
    background-color: white;
    border-radius: 10px;
    
    border-left-style: solid;
    border-left-color: var(--card-highlight);
    border-left-width: 10px;
    height: 200px;
}

.announcements{
    color: black;
    
    /* padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px; */
}

.announcement-container{
    display: grid;
    grid-template-rows: 75px 1px 75px 1px 75px;
    padding-left: 20px;
    gap: 5px;
    padding: 20px;
}

.announcement{
    align-self: center;
    color: black;

}

.announcement>p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: small;
}

.separator{
    background-color: gray;
}

.info{
    color: black;
}


.trending-container{
    display: grid;
    grid-template-rows: repeat(4,50px);
    padding-left: 20px;
    gap: 5px;
    padding-top: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 5px 5px gray;
}

.trending-profile-icon>img{
    height: 32px;
}

.trending-user{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}

.projects{
    box-sizing: border-box;
    min-height: 0;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.project-card{
    display: grid;
    grid-template-rows: 1fr 32px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    box-shadow: 1px 5px 5px gray;
}

.project-actions{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: 10px;
    padding-right: 10px;
}

.actions{
    height: 32px;
}

.share{
    transform: rotate(-90deg);
}

.project-info>p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.project-info{
    padding-left: 20px;
    padding-right: 10px;
}

li{
    margin: 20px;
}

.projects>h3{
    padding-bottom: 10px;
}

.button-container>button{
    background-color: var(--theme-blue);
    height: 35px;
    width: 96px;
    text-align: center;
    border-radius: 16px;
    color: white;
}

.user-logo>img,
.logo>img,
.trending-profile-icon>img{
    border-radius: 50%;
}

.announcement-container{
    background-color: white;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 5px 5px gray;
}

.trending>h3,
.announcements>h3{
    padding-bottom: 10px;
}

.search-bar-input{
    background-color: var(--background-color);
    height: 28px;
    border-radius: calc(.5 * 24px);
    border: none;
    padding: 5px 10px;
}

.view-controls,
.useful-links{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 32px;
    grid-auto-flow: row;
    grid-auto-rows: 32px;
    align-self: center;
    column-gap: 15px;
    row-gap: 5px;
}

.useful-links{
    align-self: center;
}

.sidebar>.dashboard-logo img{
    height: 50px;
    color: white;
}

.sidebar img{
    height: 28px;
    align-self: center;
    margin: auto;
    display: block;
}

.sidebar-logo{
    align-self: center;
    text-align: center;

}

.sidebar h4{
    align-self: center;
    font-size: large;
}

.main-content p{
    color: var(--main-text-color);
}

.greeting-text>p{
    font-weight: bold;
}

.logo{
    text-align: right;
    padding-right: 20px;
}








